name: My first github actions
on: [push]
jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: action/setup-node@v2
        with: node:version:'14.17.0'
      - run: tree
