name: My first github actions
on: [push]
jobs:
  print-hello-world:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello world"
      - run: echo "step2"

  print-hello-world2:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello world2"
      - run: echo "step2"
